<div class="container">
    <h2>Database Errors</h2>
    <p>Τα λάθη στη Βάση δεδομένων ξεκινάν από το 0 και μέχρι το 100</p>
    <table class="table table-striped">
        <tr>
            <th>Αριθμός</th>
            <th>Μήνυμα</th>
            <th>Περιγραφή</th>
            <th>Παρατηρήσεις</th>
        </tr>
        <tr>
            <td>0</td>
            <td>ECONNREFUSED</td>
            <td>Ο σέρβερ δεν επέτρεψε τη σύνδεση. Συνήθως αυτό το λάθος δημιουργείται όταν ο σέρβερ δεν εκτελείται.</td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>ER_BAD_FIELD_ERROR</td>
            <td>Ο σέρβερ δεν απάντησε. Αυτό το λάθος δημιουργείται όταν ο σέρβερ δέχεται ένα πεδίο που δεν είναι σωστά διαμορφωμένο
                (πχ είναι κείμενο ενώ περιμένει αριθμό).</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>ER_SOMETHING</td>
            <td>Ο σέρβερ δεν κατάφερε να διαγράψει αντικείμενο.</td>
            <td></td>
        </tr>
    </table>

    <h2>Server Errors</h2>
    <p>Τα λάθη που επιστρέφει ο Σέρβερ από το 101 και μέχρι το 200</p>
    <table class="table table-striped">
        <tr>
            <th>Αριθμός</th>
            <th>Μήνυμα</th>
            <th>Περιγραφή</th>
            <th>Παρατηρήσεις</th>
        </tr>
        <tr>
            <td>101</td>
            <td>Δεν υπάρχει το αντικείμενο</td>
            <td>Ο σέρβερ δεν επέστρεψε το αντικείμενο που ζητήθηκε.Αυτό το λάθος δημιουργείται όταν αναζητούμε για ένα αντικείμενο
                που δεν υπάρχει.</td>
            <td></td>
        </tr>
        <tr>
            <td>102</td>
            <td>Λάθος αίτημα στον σέρβερ</td>
            <td>Ο σέρβερ δεν επέστρεψε το αντικείμενο που ζητήθηκε.Αυτό το λάθος δημιουργείται όταν αναζητούμε για ένα αντικείμενο
                με λάθος διαμορφωμένη url</td>
            <td></td>
        </tr>
        <tr>
            <td>103</td>
            <td>Διπλότυπο αντικείμενο</td>
            <td>Ο σέρβερ δεν δημιούργησε το αντικείμενο που ζητήθηκε.Αυτό το λάθος δημιουργείται όταν υπάρχει ήδη το αντικείμενο
                που θέλουμε να δημιουργήσουμε</td>
            <td></td>
        </tr>

    </table>
</div>